/* Links */
a:hover {
    color: #ffcf6e;
}

/* Header Buttons on Startpage */
a.btn {
    color: black;
    background-color: #ffab00;
}
a.btn:hover {
    background-color: #ff8400;
}

/* Scroll Menu on Startpage */
a.fn-item {
    color: #BBC7CC;
}
a.fn-item.active {
    color: #ffab00;
}
a.fn-item:hover {
    color: #ff8400;
}

/* Content / Sections */
.post-holder.odd {
    background: #B80135; /* 22343A*/
    color: white; /*BBC7CC*/
}
.post-holder {
    background: #f2efe8;
}
body {
    color: #3A4145;
}

/* Footer */
.site-footer {
    color: black;
    background-color: #ffab00;
}
.site-footer a {
    color: black;
}
.site-footer a:hover {
    color: #323232;
}

/* Contact icons */
section.post-content i.fa {
    text-align: right;
    min-width: 1em;
}

/* Allow the events section to be bigger */
#events {
    width: 95%;
    max-width: none;
}
#events .post-header,
#events .post-content>:not(.timeline) {
    width: 76%;
    max-width: 700px;
    margin: 0rem auto;
}

ul {
    padding-left: min(1em, 40px);
}

/* Styling of single events */
.event-meta {
    background-color: white;
    color: black;
    font-size: 16px;
    border: 2px solid #ffab00;
    border-bottom: none;
}

.event-meta > div:not(.first) {
    border: none;
    border-bottom: #ffab00 2px solid;
}
.event-meta > div {
    padding: 0.1em 1em;
}
.event-meta > div.first {
    margin: 0;
    background-color: #ffab00;
    color: white;
}
.event-meta i.fa {
    padding-right: 0.25em;
}