{{define "additional_head"}}
	{{ $sass := resources.Get "style/single.scss" }}
	{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
{{end}}

{{ define "main" }}
  <main class="content page-template page-{{ .Slug }}" role="main">
    <article class="post page">
      <header class="post-header">
        <a id="blog-logo" href="{{ "/" | relURL }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ .Site.Title }}</a>
      </header>
      <h1 class="post-title">{{ .Title }}</h1>
      <section class="post-content">
        {{ .Content }}
      </section>
    </article>
    <aside>
        <input type="checkbox" id="menu-toggle" role="button" />
        <label for="menu-toggle"><i class="fa fa-bars"></i></label>
        {{ .TableOfContents }}
    </aside>
  </main>
{{ end }}
