{{define "additional_head"}}
{{ $sass := resources.Get "style/single.scss" }}
{{ $style := $sass | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
<style>
  .post-images {
    display: flex;
    gap: 2rem;
    overflow: scroll;
  }

  .post-images img {
    max-width: 300px;
    border: 4px solid var(--color-text);
    border-radius: 4px;
  }
</style>
{{end}}

{{ define "main" }}
{{ $complexityLevels := slice "sehr leicht" "einfach" "mittel" "fortgeschritten" "Experte" }}
<main class="content page-template page-{{ .Slug }}" role="main">
  <article class="post page">
    <header class="post-header">
      <a id="blog-logo" href="{{- relref . "/spiele" -}}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Zur Spielekarte</a>
    </header>
    <h1 class="post-title">{{ .Title }}</h1>
    <section class="meta-data">
      <div title="Spieleranzahl"><i class="fa fa-users"></i> {{ .Params.playersMin }} - {{ .Params.playersMax }} Spieler</div>
      <div title="Spielzeit"><i class="fa fa-clock-o"></i> {{ .Params.playTime }} Min.</div>
      <div title="Empfohlenes Alter"><i class="fa fa-birthday-cake"></i> {{ .Params.playerAge }} Jahre</div>
      <div title="Komplexität"><i class="fa fa-book"></i> {{ index $complexityLevels .Params.complexity }}</div>
    </section>
    <section class="post-images">
      {{ range .Resources.ByType "image" }}
        <a href="{{- .Permalink | safeHTMLAttr -}}" target="games-preview-image"><img src="{{ .Permalink }}" alt="" /></a>
      {{ end }}
    </section>
    <section class="post-content">
      {{ .Content }}
    </section>
  </article>
</main>
{{ end }}