/* Links */
@import 'style/links';
/* Map */
@import 'style/map';

body {
    --background-color: #f2efe8;
    --background-color-odd: #B80135;

    --text-color: #3A4145;
    --text-color-odd: #f2efe8;

    color: var(--text-color);
}

/* Content / Sections */
.post-holder {
    background: var(--background-color);

    &.odd {
        background: var(--background-color-odd);
        color: var(--text-color-odd);
    }
}

/* Footer */
.site-footer {
    color: black;
    background-color: #ffab00;
}
.site-footer a {
    color: black;
}
.site-footer a:hover {
    color: #323232;
}

/* Contact icons */
section.post-content i.fa {
    text-align: right;
    min-width: 1em;
}

/* Allow the events section to be bigger */
#events {
    width: 95%;
    max-width: 1800px;

    .post-header,.post-content > :not(.timeline) {
        /* Align header and text with other secions (width = 80% / 95%) */
        width: 84.21%;
        max-width: 800px;
        margin: 0rem auto;
    }
}

ul {
    padding-left: unquote("min(1em, 40px)");
}
