$primary: #ffab00;
$primary-text: #000;

:root {
    --color-error: #ff0000;

    /* Theme variables: */
    // e.g. button background color
    --highlight: #{$primary};
    // text color on buttons
    --highlight-contrast: #{$primary-text};
    // button hover color of button
    --highlight-inverse: #ff7600;
    // button hover color text
    --highlight-inverse-contrast: #{$primary-text};
    // the color of the text on the image
    --cover-text-color: #fff;
    // shadow effect
    --cover-title-text-shadow: black 0 0 7px;
    --sticky-menu-text-color: #{$primary};
    --footer-color-background: #{$primary};
    --footer-color: #{$primary-text};
}

// fit hover style of footer links
.site-footer a:hover {
    color: var(--section-light-text-color, #{$primary-text});
}

/* Map */
@import 'style/map';

input, button {
    box-sizing: border-box;
    color: var(--color-text);
    background-color: var(--color-background);
    border: 2px solid var(--color-text);
    border-radius: 4px;
    min-height: 34px;
    min-width: 34px;
    padding: 6px;
}
input {
    &:invalid {
        border-color: var(--color-error);
    }
    &:focus-visible {
        outline: none;
    }
    &:focus:not(:invalid) {
        border-color: var(--highlight);
    }
}
button {
    cursor: pointer;
    &:active {
        border-color: var(--highlight);
    }

    &:focus-visible {
        outline: 2px solid var(--color-text)!important;
        outline-offset: 2px;
    }
}

/* Contact icons */
section.post-content i.fa {
    text-align: right;
    min-width: 1em;
}

/* Allow the events section to be bigger */
#events {
    width: 95%;
    max-width: 1800px;

    .post-header,.post-content > :not(.timeline) {
        /* Align header and text with other secions (width = 80% / 95%) */
        width: 84.21%;
        max-width: 800px;
        margin: 0rem auto;
    }
}

ul {
    padding-left: unquote("min(1em, 40px)");
}

iframe {
    border: none;
}

.site-footer {
    .partners--heading {
        display: none;
        font-size: 1.3rem;
        line-height: 1.5em;
        letter-spacing: normal;
        margin: 0;
    }

    .footer-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;

        .partner {
            height: unquote("max(60px, 6rem)");
            padding: 0 1rem;
        }
    }
}

@media only screen and (max-width: 575px) {
    .footer-container {
        flex-wrap: wrap;
        row-gap: 1rem;

        .partners--heading {
            display: block;
            width: 100vw;
        }

        section {
            order: 0;

            &.copyright {
                order: 1;
                width: 100vw;

                &::before {
                    // Add a separating line between partners and copyright
                    border-bottom: 1px solid #1115;
                    display: block;
                    content: "";
                    margin-bottom: 2rem;
                }
            }
        }
    }
}