/* Styling of single events */

@import "single";

body, main {
    background-color: var(--section-dark-bg-color);
    background-size: cover;
}

main {
    display: flex;
    padding: 2rem 0;
}

article {
    align-self: center;
    width: 70%;
    padding: 2em;
    background-color: #f2efe8d0;
    border-radius: 1em;
    color: #000;

    &.post {
        min-height: 20vh;
        max-height: 80vh;
        overflow-y: scroll;
        /* Fix mobile devices center above footer */
        margin: 0 auto;
        padding: 1rem 2rem;
    }
}

/* Metadata box for time and location */
.event-meta {
    background-color: var(--section-light-bg-color);
    border: 2px solid var(--highlight);
    border-bottom: none;
    color: var(--section-light-text-color);
    font-size: 16px;

    i.fa {
        /* Icons within event meta data*/
        padding-right: 0.25em;
    }

    &> div {
        padding: 0.1em 1em;

        &:not(.first) {
            border: none;
            border-bottom: var(--highlight) 2px solid;
        }
        &.first {
            margin: 0;
            background-color: var(--highlight);
            color: var(--highlight-contrast);
        }
    }
}
