/* Styling of single events */
footer {
    position: fixed!important;
    bottom: 0;
    left: 0;
    width: 100%;
}

main {
    display: flex;
    flex-direction: row;
    background-color: var(--color-background-alt);
    background-size: cover;
    height: 100%;
    width: 100%;
}

article {
    align-self: center;
    width: 70%;
    padding: 2em;
    background-color: #f2efe8d0;
    border-radius: 1em;

    &.post {
        height: unset;
        max-height: 70%;
        min-height: 20vh;
        /* Fix mobile devices center above footer */
        padding-top: 0;
        padding-bottom: 5rem;
    }
}

/* Metadata box for time and location */
.event-meta {
    background-color: var(--color-background-main);
    border: 2px solid var(--color-primary);
    border-bottom: none;
    color: var(--color-text-main);
    font-size: 16px;

    i.fa {
        /* Icons within event meta data*/
        padding-right: 0.25em;
    }

    &> div {
        padding: 0.1em 1em;

        &:not(.first) {
            border: none;
            border-bottom: var(--color-primary) 2px solid;
        }
        &.first {
            margin: 0;
            background-color: var(--color-primary);
            color: white;
        }
    }
}