@media (prefers-color-scheme: dark) {
    :root {
        --section-light-bg-color: #171717;
        --color-background-darker: #252525;
        --section-light-text-color: #d8d8d8;
        --section-dark-text-color: #f2efe8;
    }
}

main {
    background-color: var(--color-background);
    // for the footer
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
}

.site-footer {
    min-width: 100%;
}

@media only screen and (max-width: 575px) {
    main {
        min-height: calc(100vh - 174px);
    }
}

@media only screen and (max-width: 392px) {
    main {
        min-height: calc(100vh - 244px);
    }
}
