<!-- Override theme defaults -->
{{ $sass_main := resources.Get "style/index.scss" }}
{{ $style_main := $sass_main | resources.ToCSS (dict "includePaths" "assets") | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style_main.Permalink }}" integrity="{{ $style_main.Data.Integrity }}" crossorigin="anonymous">

<!-- For our events -->
<link rel="stylesheet" href='{{ "css/timeline.css" | absURL }}'>

{{- if .IsHome -}}
{{ with .OutputFormats.Get "RSS" -}}
<link rel="alternate" type="application/rss+xml" title="RSS Feed der Veranstaltungen" href="{{ .RelPermalink }}" />
{{ end -}}
{{/* /events/index.ics does not belong to home so we cannot do it with .OutputFormats */ -}}
<link rel="alternate" type="text/calendar" title="TODO" href="{{ "events/index.ics" | absURL }}" />
{{ end -}}

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
