{{ define "main" }}
<main class="content page-template page-{{ .Slug }}" role="main">
	<article class="post page">
	<header class="post-header">
		<a id="blog-logo" href="{{ "/" | relURL }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> Zurück zur Webseite</a>
	</header>
	<h1 class="post-title">{{ .Title }}</h1>
	<div class="event-meta">
		<div class="first">Informationen</div>
		<div>
			<span>
				<i class="fa fa-calendar" aria-hidden="true"></i> {{.Date | time.Format ":date_long" }},
				<i class="fa fa-clock-o"></i> {{.Date | time.Format ":time_short"}}
			</span>
			{{ if .ExpiryDate }}
			<span>
				<i class="fa fa-long-arrow-right" style="padding: 0 1em;" aria-hidden="true"></i>
				<i class="fa fa-calendar" aria-hidden="true"></i> {{.ExpiryDate | time.Format ":date_long" }},
				<i class="fa fa-clock-o"></i> {{.ExpiryDate | time.Format ":time_short"}}
			</span>
			{{ end }}
		</div>
		{{ if isset .Params "location" }}
		<div>
			<i class="fa fa-location-arrow" aria-hidden="true"></i> {{ .Params.location }}
		</div>
		{{ end }}
	</div>
	<section class="post-content">
		{{ .Content }}
	</section>
	</article>
</main>
{{ end }}
