<div id="riddle" class="riddle">
    <label>
        Passwort:
        <input id="riddle-code" type="password">
    </label>
    <button onclick="schmiddi()">Bestätigen</button>
    <p id="riddle-error" style="color: red;"></p>
</div>

<style>
    .riddle {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-inline: auto;
        gap: 12px;
    }
</style>

<script>
    function schmiddi() {
        const pwd = document.getElementById('riddle-code').value
        if (btoa(pwd.toUpperCase()) === 'MUNBMg==') {
            document.getElementById('riddle').innerHTML = atob('PHA+CkhleSBHcmVnJm91bWw7ciw8YnIgLz4KYmVzdGltbXQgaXN0IGRpciBzZWl0ZGVtIGR1IHp1ciZ1dW1sO2NrIGJpc3QsIHNjaG9uIGxhbmd3ZWlsaWcgZ2V3b3JkZW4uPGJyIC8+CldpZSB3JmF1bWw7cmUgZXMgbWl0IGVpbmVyIDxzcGFuIHN0eWxlPSJjb2xvcjogI2ZmYWIwMDsiPlRoZWF0ZXJncnVwcGU8L3NwYW4+IG9kZXIgZWluZW0gPHNwYW4gc3R5bGU9ImNvbG9yOiAjZmYwMDAwIj5TZXJpZW5tYXJhdGhvbjwvc3Bhbj4/PGJyIC8+CkJlc3RpbW10IGZpbmRlc3QgZHUgZGllIHBhc3NlbmRlIEFrdGl2aXQmYXVtbDt0ZW4uPGJyIC8+CjxiciAvPgpBYmVyIGpldHp0IGtvbnplbnRyaWVyZSBkaWNoIHdlaXRlciE8YnIgLz4KSmV0enQgbSZ1dW1sO3NzZW4gbnVyIG5vY2ggZGllIHJpY2h0aWdlbiBLJmF1bWw7c3RjaGVuIGF1c3NjaG5pdHRlbiB3ZXJkZW4uPGJyIC8+CkRlciBSZXN0IG11c3MgdGhlbWF0aXNjaCBwYXNzZW5kIHp1IGRlbiBHZXRyJmF1bWw7bmtlbiBhbmdlbGVndCB3ZXJkZW4uIEJyaW5nZSBkaWUgQnVjaHN0YWJlbiBpbiBkaWUgcmljaHRpZ2UgUmVpaGVuZm9sZ2UgdW5kIGJlZm9sZ2UgZGllIEFud2Vpc3VuZyE8YnIgLz48YnIgLz4KR3ImdXVtbDsmc3psaWc7ZSBTY2htaXR0aQo8L3A+')
        } else {
            document.getElementById('riddle-error').textContent = 'Nein... Einfach nein...'
        }
    }
</script>